DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=************
DB_HOST=postgres_db
DB_PORT=5432
HOSTNAME=postgres_db

LOG_PATH=result.log
LOG_FORMAT="%(asctime)s %(levelname)s %(message)s"

ES_HOST=elastic
ES_PORT=9200

DEBUG=False
DJANGO_SECRET_KEY=************

ADMIN_LOGIN=admin
ADMIN_EMAIL=admin@mail.ru
ADMIN_PASSWORD=admin